body {
  margin: 20px;
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
  background-color: lightgray;
}

hr{
  border-top:solid 5px;
  width: 300px;
}
h1{
  color: gray;
  font-weight: bold;
}
h2{
  color: rgb(255, 174, 0);
  font-weight: 600;
}
h3{
  color: blue;
  font-weight: 700;
}
h4{
  color: black;
  font-weight: 700;
}

.Navbtn{
  display: block;
  width: 10%;
}

.form-group{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

ul {
  list-style-type: none;
  font-size: 20px;
}

.post{
border: solid 2px;
border-radius: 8px;
width: 60%;
margin: auto;
}